<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>



<!--部分テンプレート化！-->
<%= render 'layouts/profile_bookpost', user: @user, book: @book %>


<!--投稿一覧自分のと他者の！！-->
<h3>Books</h3>
<p>Title</p>
<p>Opinion</p>
<% @books.each do |book| %>
  <%= image_tag book.get_image(100, 100) %>

  <!--以下本のタイトルからbook詳細ページbook_pathに遷移-->
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>

   <%= book.body %>
<% end %>