<div><%= flash[:notice] %></div>


<!--部分テンプレート化！-->
<%= render 'layouts/profile_bookpost', user: @user, book: @book %>


<!--投稿詳細-->
<h3>Book detail</h3>
<%= image_tag @book.get_image(100, 100) %>

<%= link_to user_path(@user.id) do %>
  <%= @user.name %>
<% end %>

<%= link_to book_path do %>
  <%= @book.title %>
<% end %>

<%= @book.body %>

<!--本人にのみ本の編集/削除権限を与える-->
<% if @user == current_user %>
  <%= link_to "Edit", edit_book_path %>
  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>